
{{#block "content"}}
    <div style="text-align: center; margin-top: 5rem">
       <h1> Welcome {{ username }}! you logged in man.</h1>
        <a href="ideas">Wanna Add Courses!</a>
    </div>
{{/block}}

{{> base.hbs}}